*~
\#*
.\#*
.DS_Store
compiled/
doc/
tables/
*.swp
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
.DS_Store
.vscode
*.rktd
*.csv
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

